<!DOCTYPE html>
<html>
<head>
  <title>Register | crrd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2>Register for crrd</h2>
  <form method="post">
    <input type="text" name="vanity" placeholder="Vanity" value="{{ vanity }}" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
  </form>
  <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>
